[[source]]
verify_ssl = true
url = "https://pypi.douban.com/simple"
#url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.6"

[packages]
django = "==2"
djongo = "*"
